.loginContainer {
text-align: center;
  color: white;
  background-color: black;
  outline: 1px solid white;
}



.loginForm{
  display: flex;
 
  justify-content: center;
  flex-flow: column;

}
