.rating .filled {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: white;
}

.filled {
  color: rgb(178, 224, 11);
  display: flex;
  flex-direction: row;

}

.empty {
  color: white;
  display: flex;

}

#modal-content .reviewForm {
  display: grid;


  border: 2px solid white;


}

#modal-content .reviewForm div {
  display: flex;
  flex-flow: row;
  margin: 5px;
}
