.rating .filled    {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: white;

}

.filled{
    color:rgb(178, 224, 11);

}

.empty{
    color: white;
}

 #modal-content .reviewForm{
    display: flex;
    flex-flow: column;
    border-radius: 20px;
    width: auto;
}
