.reviewDiv {
  display: grid;
  width: 0 auto;

  border: 2px solid white;
}

.reviewBox {
  display: block;
  flex-flow: row;
  align-items: center;
  background-color: white;
  color: black;
  height: 100%;
  text-align: left;
}

.dateThing {
  font-size: 10px;
}

.stars {
  float: right;
}

.userButtons {
  display: flex;
  width: auto;
}
