.reviewDiv {
  display: grid;
  width: 50%;
  border: 2px solid white;
}

.reviewBox {
  display: block;
  flex-flow: row;
  align-items: center;
  height: 100%;
  text-align: left;
}

.dateThing {
  font-size: 10px;
}

.stars {
  float: right;
}

.userButtons {
  display: flex;
  width: auto;
}
