section {
  display: flex;
  flex-direction: column;

  margin: 20px;
  border: 2px dotted white;
  border-radius: 20px;

}

.trailer {
display: flex;
border: 2px solid white;
gap: 30px;
padding: 0 20px;
}

.plot {

text-align: center;

font-size: larger;
  border-bottom: 2px dotted white;
 width: auto;
 padding: 20px 20px;
 float: right;
}

.movietitle,
h2 {
  text-align: center;
}

.reviewDisplay{

  width: auto;
  height: 10rem
}


.reviewButton{
  margin: 10px 20px;

}
