section {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 2px solid white;
  border-radius: 20px;
}

.trailer {
  display: flex;
  justify-content: center;
  flex-flow: row;
  border: 2px solid white;
  width: auto;
  gap: 30px;
  padding: 20px 20px;
}
.poster{
 width: 25vh;
 height: 30vh;
}


.plot {
  text-align: center;
  font-size: larger;
  border-bottom: 2px dotted white;
  width: auto;
  padding: 20px 20px;
  float: right;
}

.movietitle,
h2 {
  text-align: center;
}

.reviewDisplay {
  width: 50%;
  height: 100%;
}

.reviewButton {
  margin: 10px 20px;
}
