.mainCarousel {
  border-radius: 20px;
  transition: transform 0.8s;
}

.carousel:hover {
  transform: scale(0.95);
  color: black;
  box-shadow: 5px 5px 10px white;
}
.carousel {
  width: 10rem;
  height: 15rem;
  border-radius: 20px;
}

.searchBar {
  display: flex;
  justify-content: space-around;

  text-decoration-color: black;
}

.searchBar input {
  border-radius: 10px;
  margin: 10px auto;
  width: 50%;
  height: 50%;
}

#likeButton {
  font-size: 2rem;
  position: absolute;
  right: 20px;
  bottom: 20px;
  border: none;
  background-color: transparent;
  color: red;
}

h2 {
  display: grid;

  border: 5px dotted white;
  width: 100%;
}
