.container{
  display: flex;
  width: 0 auto;
  height:auto;
  border: 5px dotted rgb(241, 238, 238);
  border-radius: 30px;
  transition: transform .8s;
  


}

.container  div {
  border-radius: 10px;

}

.container div:hover{

  transform: scale(.95);
  color: black;

}



  .welcomeContainer{
    display: flex;
    justify-content: center;
    background-image: url('https://thumbs.gfycat.com/SmartRelievedKakapo.webp');
    background-size: cover ;



  }
