.profileContainer{
    display: inline-block;
    align-items: center;
    justify-content: center;
    align-self: center;



    margin: 20px;


}

.profileContainer img{
    width: 150px;
    height:200px;
    margin: 20px 20px;

    align-items: center
 ;

}

.profileContainer img:hover{
    box-shadow: 5px 3px 5px rgb(214, 189, 189);
    transform: scale(1.02);
}
.likedMovies{
    border: 2px solid white;

    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-content: space-evenly;
    gap: 20px;


}
/* .userMovies{
border: 2px solid white;
width: 50%;






.userReviews{
    border: 2px dotted rgb(253, 249, 249);
    width: 50%;

}

.userButtons{
    width: auto;
    display: flex;
    justify-content: center;
}

.userReviewContainer{
    border: 2px dotted white;
}

.movieDiv{
    display: flex;
    justify-content: center;
} */
